body {
    font-family: Arial, sans-serif;
}

header {
    display: table;
    width: 100%;
    border-bottom: 1px solid black;
}

header p {
    display: inline;
    margin: 0;
    padding: 0.5em;
}

article {
    width: 100%;
    
}

#client_search ul, #hardware_search ul {
    list-style-type: none
}