{% extends "base.html" %}
{% block main %}
<h1>Painel</h1>
<div id="clients">
  <h2>Procurar cliente</h2>
  <form onload="load_clients()" action=" {{ url_for('dashboard_client_find') }} " method="get">
    <input type="text" id="client_name" name="client_name"
	   placeholder="Nome do cliente" onchange="load_clients()"/>
    <input type="submit" value="Pesquisar" />
  </form>
  <div id="client_search"><ul></ul></div>
  <a href=" {{ url_for('dashboard_client_add') }}"> Adicionar cliente </a>
</div>
{% endblock %}    
